.slider {
  position: absolute;
  margin: auto;
  width: 80%;
  top: 60%;
  right: 0;
  left: 0;
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 200px;
  margin: auto;
  z-index: 0;
}

.wrapper img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
